.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
ul{
    list-style-type: none;
    margin: 0;
}
.menu{
    display: flex;
    gap: 30px;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
a.button:hover{
    color: #40d4cf;
}
.sec1{
    background-image: url(./images/01_One-Page.gif);
    display: block;
    width: 100%;
}
.para1{
    display: inline-block;
    padding: 200px 200px 200px 0;
    width: 100%;
}
.duongdzai{
    position: relative;
    width: 34%;
    float: right;
}
.heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    display: inline;
}
.sentence1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: #787878;
    margin: 30px 0 45px 0;
}
.para1 > div > a{
    padding: 15px 40px;
    background-color: #40d4cf;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: white;
}
.sec2{
    text-align: center;
    padding: 100px;
    background-color: #ffffff;
}
.heading2{
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    padding-bottom: 20px;
}
.sec3{
    background-color: #f8f9f9;
    display: flex;
    width: 100%;
}
.para3{
    width: 50%;
    align-self: center;
    padding-left: 100px;
}
.heading3{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}
.sentence2{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 9px;
    display: flex;
    gap: 15px;
}
.percentage{
    width: 550px;
}
.sec4{
    display: flex;
    justify-content: space-evenly;
    background-color: #10c9c3;
    padding: 100px 120px 100px 120px;
}

.logo{
    align-items: center;
    display: flex;
    color: white;
}
.lg{
    padding-left: 30px;
}
.number{
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
}
.sentence{
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
}
i{
    font-size: 40px;
}
.sec5{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.newcon{
    width: 25%;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: 0.8s;
    background-image: url(./images/02_Home-hover.gif);
    background-position: center;
    align-content: center;
}
.newcon:hover .overlay{
    opacity: 1;
}
.item{
    width: 100%;
}
.sec6{
    text-align: center;
    padding: 100px;
}
.sentence3{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    color: #b7b7b7;
    margin-top: 20px;
    margin-bottom: 50px;
}
.sec7{
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 150px 50px 150px;
    background-color: #f5f5f5;
}
.line1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.icon{
    text-align: center;
}
.heading4{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: 15px; margin-bottom: 10px;
}
.sentence4{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    color: #898989;
}
.sec8{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    background-color: #40d4cf;
    padding: 150px;
}
.sentence5{
    font-size: 25px;
}
.name{
    font-size: 15px;
    margin-top: 35px;
}
.sec9{
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0 60px 0;
}
.sec9 > div{
    justify-content: space-between;
}
.sec10{
    text-align: center;
    background-color: #f5f5f5;
    padding: 100px 0 100px 0;
    
}
.sentence6{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    color: #898989;
    margin-top: 30px;
}
.newdiv{
    width: 35%;
    display: block;
    margin: 0 auto;
}
.line3{
    display: flex;
    margin: 0;
    width: 100%;
}
.newdiv > form > div{
    margin: 20px 0 20px;
}
input[type=text].name{
    padding: 10px 0 10px 13px;
    width: 100%;
}
input[type=text].line3, textarea{
    padding: 10px 0 10px 13px;
    width: 100%;
    resize: none;
}
input[type=text].line4{
    padding: 10px 0 10px 13px;
    width: 100%;
    resize: none;
}
input[type=text], textarea{
    border: 0px solid gray;
}
button{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: white;
    padding: 15px 27px;
    border: 0;
    background-color: #10c9c3;
    margin-top: 10px;
}
footer{
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px;
    padding-right: 150px;
}
.block1{
    width: 50%;
    justify-content: space-between;
    display: flex;
}
.block2{
    display: flex;
    justify-content: space-around;
    width: 20%;
}
li.indam{
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    color: white;
    padding-bottom: 30px;
}
li.normal, li.normal > a{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15pt;
    color: #6e6e6e;
}